div.au {
	background-image: linear-gradient(to right, #18e8ee, #fff);
}
.sn {
	background-image: linear-gradient(to right, #18e8ee, #18e8ee);
}
footer {
	background-image: url(file:///Users/mauri213/Desktop/Projects/netwrk/netwrk-master/assets/images/bg.png);
}